{% extends 'home/index-base.html' %}
{% load staticfiles %}
{% block title %}Bill-detail{% endblock %}
{% block index-base %}
{% if items %}
<div class="container text-center">
    <h1>Chi tiết đơn hàng</h1>
    <table class="table" style="background-color:#FFFFFF;">
        <thead>
            <tr>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <a href="{% url 'home:detail' item.product.id %}"><img src="{{item.product.img.url}}" alt="" style="height: 60px; width: 90px"></a>
                    <br>
                    <p>{{item.product.name}}</p>
                </td>
                <td>{{item.quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" onclick="finish({{id}})" id="button-add" class="btn">Hoàn thành</button>
    </div>
    <br>
</div>
<script>
    function finish(id)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            {
                alert("Đã hoàn thành");
                window.location.href="/manager/";
            }
        }
        xmlHttp.open("GET", "/finish/"+id, true);
        xmlHttp.send(null);
    }
</script>
{% else %}
<h1>Hiện không có đơn hàng nào</h1>
{% endif %}
{% endblock %}