{% extends 'home/base.html' %}
{% load staticfiles %}
{% load filter %}
{% block title %}Cart{% endblock %}
{% block base %}
    {% if items %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <table class="table text-center" style="background-color:#FFFFFF;">
                        <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tổng</th>
                            <th scope="col">Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <a href="{% url 'home:detail' item %}"><img
                                            src="{{ items|get_item:item|get_item:'url' }}" alt=""
                                            style="height: 60px; width: 90px"></a>
                                    <br>
                                    <p>{{ items|get_item:item|get_item:'name' }}</p>
                                </td>
                                <td>{{ items|get_item:item|get_item:'price'|format_num}}</td>
                                <td>{{ items|get_item:item|get_item:'quantity' }}</td>
                                <td>{{ items|get_item:item|get_item:'total_price'|format_num }}</td>
                                <td>
                                    <form action="{% url 'home:remove' %}" method="get">
                                        <input type="hidden" value="{{ item }}" name="product_id">
                                        <button class="btn close" style="float: none" type="submit"><i
                                                class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <div style="background-color:#FFFFFF;">
                        <br>
                        <h3 class="text-center">Thông tin đặt hàng</h3>
                        <ul>
                            <li>Số lượng: <span>{{ count }}</span></li>
                            <li>Tổng tiền: <span>{{ sum|format_num }}</span></li>
                        </ul>
                        <div class="container">
                            <hr>
                            <h4>Hình thức giao hàng</h4>
                            <form action="{% url 'home:pay' %}" method="post">
                                {% csrf_token %}
                                <label for="table">
                                    <input id="table" onclick="checked_change()" type="radio" name="method"
                                           value="table"
                                           checked> Tại quán
                                </label>
                                <label for="address">
                                    <input id="address" onclick="checked_change()" type="radio" name="method"
                                           value="address">
                                    Giao hàng
                                </label>
                                <div id="chose-table" style="display: block">
                                    Chọn vị trí ngồi:
                                    <label for="table">
                                        <select class="form-control" id="table" name="table">
                                            {% for table in tables %}
                                                <option>{{ table.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <hr>
                                </div>
                                <div id="chose-address" style="display: none">
                                    <label for="address">Địa chỉ:</label><br>
                                    <textarea name="address" id="address"
                                              style="width: 100%"></textarea><br>
                                    <label for="phone_number">Số điện thoại:</label><br>
                                    <input id="phone_number" type="text" name="phone_number" maxlength="10"
                                           style="width: 100%">
                                    <hr>
                                </div>
                                <div class="text-center">
                                    <input class="btn button-add" type="submit" value="Thanh toán">
                                </div>
                            </form>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center">
            <br>
            <h1>Giỏ hàng trống</h1>
            <a href="{% url 'home:index' %}"><img class="logo-smart ball" src="{% static 'home/images/icon.png' %}"
                                                  alt="Logo smart"></a>
            <br>
            <br>
        </div>
    {% endif %}
{% endblock %}